<!DOCTYPE html>
<html ng-app="DevMikroblog">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">Dev Mikroblog</a>
        </div>
        <div class="navbar-collapse collapse" ng-controller="AccountController as account">
            <ul class="nav navbar-nav">
                <li><a href="#!/">Home</a></li>
                <li><a href="#!/Tag/javascript">Javascript</a></li>
                <li>@Html.ActionLink("API", "Index", "Help", new {area = ""}, null)</li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="logOff">
                <li style="color: white;" ng-show="$root.isLogged"><a href="#">Witaj! <i>{{account.userName}}</i></a></li>
                <li><button class="btn btn-primary" ng-click="account.logout()" ng-show="$root.isLogged">Wyloguj się</button></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" id="loginForm" ng-show="!$root.isLogged">
                <div class="form-group">
                    <input type="text" class="form-control" name="loginData.UserName" placeholder="Username" required="" ng-model="account.loginData.UserName">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="loginData.Password" placeholder="Password" required ng-model="account.loginData.Password">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="account.login()">Zaloguj się</button>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#register">Zarejestruj się</button>
            </form>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

</div>
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="AccountController as account">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="registerData.Email" placeholder="Email" required="" ng-model="account.registerData.Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="registerData.Password" placeholder="Password" required ng-model="account.registerData.Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="registerData.ConfirmPassword" placeholder="Confirm password" required ng-model="account.registerData.ConfirmPassword">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="account.register()">Zarejestruj</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-messages.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/app/apiUrls.js"></script>
    <script src="~/Scripts/app/constants.js"></script>
    <script src="~/Scripts/app/utils.js"></script>
    <script src="~/Scripts/app/model.js"></script>
    <script src="~/Scripts/app/postService.js"></script>
    <script src="~/Scripts/app/accountService.js"></script>
    <script src="~/Scripts/app/commentService.js"></script>
    <script src="~/Scripts/app/postController.js"></script>
    <script src="~/Scripts/app/accountController.js"></script>
    <script src="~/Scripts/app/commentController.js"></script>
    <script src="~/Scripts/app/routes.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
